services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    environment:
      - NEXT_PUBLIC_API_URL=http://13.126.90.129:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
